button, 
form {
	margin: 5px;
}

button {color: rgb(0, 247, 255)}

body { 
background-color:grey;
}

.jumbotron {
	font-weight: bold;
	background-color: #0a3669;
	color: #1d1a1c;

}

.container .jumbotron, .container-fluid .jumbotron {
	padding-top: 2px;
	padding-bottom: 2px;
}


button, html input[type=button], input[type=reset], input[type=submit] {
	background-color: rgb(95, 145, 16);
	border: rgb(5, 24, 66);
	color:Black;
}

input{
	background-color: #347ebb ;
}

#show-input {
    color:rgb(114, 184, 11);
}



/*updates gif photo to show left to right versus just vertical */
.item {
	padding: 10px;
	display: inline-block;
}

p{
	background-color: #16545ca9;
	color: #1e0a3d;	
	padding: 0px;
}